body {
    background-color: black;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
    margin: auto;
    margin-top: 10%;
    width: 500px;
    height: 500px;
}

.box {
    margin: auto;
    padding: 0;
    width: 250px;
    height: 250px;
}

.red {
    border-top-left-radius: 100%;
    background-color: rgb(255, 51, 0);
}

.yellow {
    border-top-right-radius: 100%;
    background-color: yellow;
}

.green {
    border-bottom-left-radius: 100%;
    background-color: green;
}

.blue {
    border-bottom-right-radius: 100%;
    background-color: blue;
}

.score {
    top: 0;
    color: white;
    font-size: 50px;
}

.title {
    right: 0;
}