body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.wrapper {

    margin: auto;
    margin-top: 10%;
    width: 500px;
    height: 500px;
}

.board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
}


.box {
    margin: auto;
    padding: 0;
    width: 250px;
    height: 250px;
}

.red {
    border-top-left-radius: 100%;
    background-color: red;
}

.yellow {
    border-top-right-radius: 100%;
    background-color: yellow;
}

.green {
    border-bottom-left-radius: 100%;
    background-color: green;
}

.blue {
    border-bottom-right-radius: 100%;
    background-color: blue;
}

.score {
    position: absolute;
    margin: 0%;
    padding: 0%;
    top: 0;
    color: white;
    font-size: 50px;
}

.title {
    position: relative;
    font-size: 90px;
    margin-bottom: 0%;
    padding: 0%;
    margin-top: 40px;
    text-align: center;
}

.high-score {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

.dark {
    filter: brightness(0.4);
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 60px;
    }

    .score {
        font-size: 30px;
    }

    .high-score {
        font-size: 30px;
        margin-top: 0px;
    }

    .wrapper {
        margin: auto;
        margin-top: 30%;
        width: 350px;
        height: 350px;
    }

    .box {
        margin: auto;
        height: 175px;
        width: 175px;
    }

    .board {
        width: 175px;
        height: 175px;
    }
}