body{
    background-color: black;
    color: white;
}
.wrapper{
    background-color: red;
    margin: auto;
    width: 500px;
    height:500px;
}
.box{
    margin: auto;
    background-color: yellow;
    width: 10%;
    height: 10%;
}